# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion default build directory
cmake-build-*

# Cmake default build directory
build/

# Clion config files
.idea/*

libNeonCore/libNeonCorePy/\.idea/

*.pyc

script/*
!script/run_test.cmd

.vscode

libNeonCore/src/core/git_sha1.cpp

temp
optimization/fusion/scripts/._Neon.ncu-rep
optimization/fusion/scripts/fusion_factor_1_domain_size_256_GPUs_0.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_256_GPUs_1.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_256_GPUs_2.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_256_GPUs_3.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_512_GPUs_0.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_512_GPUs_1.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_512_GPUs_2.qdrep
optimization/fusion/scripts/fusion_factor_1_domain_size_512_GPUs_3.qdrep
optimization/fusion/scripts/Neon.log
optimization/fusion/scripts/Neon.ncu-rep
optimization/fusion/scripts/compute/GPU0_prof.ncu-rep
optimization/fusion/scripts/compute/GPU2-prof.ncu-rep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_256_GPUs_0.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_256_GPUs_1.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_256_GPUs_2.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_256_GPUs_3.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_512_GPUs_0.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_512_GPUs_1.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_512_GPUs_2.qdrep
optimization/fusion/scripts/single_GPU_samples/fusion_factor_1_domain_size_512_GPUs_3.qdrep
optimization/fusion/scripts/compute/fusion_factor_1_domain_size_256_GPUs_0.ncu-rep
*.qdrep
*.ncu-rep
